{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Calculazi">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'cvguenih/main.css' %}"/>
    <link rel="stylesheet" type="text/scss" href="{% static 'cvguenih/main.scss' %}"/>
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <link rel="manifest" href= "{% static 'cvguenih/manifest.json' %}">
    <link rel="apple-touch-icon" href="icons/Icon-192.png">
    <script src="less.js" type="text/javascript"></script>

    
        <title>Fauzi CV </title>
  
    <link href='https://fonts.googleapis.com/css?family=Poppins:bold,normal' rel='stylesheet'>
  <script>
                function topFunction() {
                  window.scrollBy(0, 700);
                }

                function downFunction() {
                  window.scrollBy(0, -700);
                }
        </script>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-sm fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home-base' %}">CVGue App</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon-bar" ></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home-base' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'contact-page' %}">Contact</a>
              <a class="nav-item nav-link" href="{% url 'project-page' %}">Project</a>
            </div> 
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div>
        <div >
          {% block content %}{% endblock %}
        </div>
        <div > 
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <a id="myTopBtn" onclick="downFunction()" class="float-btn float-btn-right">
        <i class="fa fa-arrow-up float-icon"></i>
      </a>
      
      <a id="myDownBtn"  onclick="topFunction()" class="float-btn float-btn-left">
        <i class="fa fa-arrow-down float-icon"></i>
      </a>
</body>
</html>