{% extends 'cvguenih/base.html' %}
{% block content %} 
<body>
<section class="gile fullscreen"> 
    <div class="spotlight align-center">
        <div class="device-border">
            <iframe src="https://calculazi.web.app"
              height="540" width="270" style="border:none;">
            </iframe>
    </div>
        <div class="content align-left">
            <h1 style="color: #fff;">Calculazi app</h1>
            <p style="color: #fff;" class="align-center">Kalkulator dengan desain bertema Neomorphism</p>
            <ul class="contact">
            </ul>
        </div>
    </div>
</section> 
 

</body> 

{% endblock %}
